.tituloLogin {
    font-size: 40px;
    font-weight: 500;
}

.bienvenido {
    font-weight: 500;
    color: #4af43b;
    font-size: 70px;
    padding-bottom: 5%;
}

.botonLogin {
    background-color: #4af43b;
    border-color: #4af43b;
}

.botonLogin:hover {
    background-color: #3ed156;
    border-color: #3ed156;
}

.botonLogin:focus {
    background-color: #0ead00;
    border-color: #0ead00;
}