@font-face {
  font-family: Get-Schwifty;
  src: url("../src/assets/get_schwifty.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NewsGothic;
  src: url("../src/assets/news_gothic_mt/NewsGothicMT.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #337ab7 !important;
}

.unselectable {
  user-select: none;
}

.colorGris {
  color: #808080;
}

.colorGris2 {
  color: #ccc
}

.colorGris3 {
  color: #676767
}

.colorGris4 {
  color: #555
}

.colorVerde {
  color: #68953B;
}

.colorAmarillo {
  color: #db9635;
}

.colorAmarillo2 {
  color: #fba306
}

.colorAzul {
  color: #00549F;
}

.colorAzul2 {
  color: #0069ab;
}

.colorAzul3 {
  color: #23527c;
}

.colorAzul4 {
  color: #337ab7;
}

.colorRojo {
  color: #bc112e;
}

.ant-btn-link {
  color: #337ab7 !important;
}