@font-face {
  font-family: Get-Schwifty;
  src: url("../src/assets/get_schwifty.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: NewsGothic;
  src: url("../src/assets/news_gothic_mt/NewsGothicMT.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #337ab7 !important;
}

.unselectable {
  user-select: none;
}

.colorGris {
  color: #808080;
}

.colorGris2 {
  color: #ccc
}

.colorGris3 {
  color: #676767
}

.colorGris4 {
  color: #555
}

.colorVerde {
  color: #68953B;
}

.colorAmarillo {
  color: #db9635;
}

.colorAmarillo2 {
  color: #fba306
}

.colorAzul {
  color: #00549F;
}

.colorAzul2 {
  color: #0069ab;
}

.colorAzul3 {
  color: #23527c;
}

.colorAzul4 {
  color: #337ab7;
}

.colorRojo {
  color: #bc112e;
}

.ant-spin-dot-item {
  background-color: #0069ab !important;
}

.ant-spin-text {
  color: #808080;
}

.ant-form-item-label>label {
  font-size: 13px !important;
  color: #808080 !important;
  font-weight: 500;
}

.ant-input:not(.ant-input:focus):hover {
  border-color: #ccc;
}

.ant-input:focus {
  border-color: #555 !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper:focus):hover {
  border-color: #ccc;
  z-index: 1 !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #555 !important;
  box-shadow: none !important;
}

.ant-input-number:not(.ant-input-number:focus):hover {
  border-color: #ccc;
}

.ant-input-number-focused {
  border-color: #555 !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #ccc !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #555 !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #ffffff !important;
  background-color: #0069ab !important;
}

.ant-tabs-tab-btn {
  color: #676767;
}

.ant-tabs-tab-btn:focus {
  color: #676767 !important;
}

.ant-tabs-tab-btn:active {
  color: #676767 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fba306 !important;
  font-weight: 500 !important;
}

.ant-tabs-nav-add:hover {
  color: #ccc !important;
}

.ant-tabs-nav-add:focus {
  color: #555 !important;
}

.ant-radio-wrapper .ant-radio-inner::after {
  background-color: #00549f;
}

.ant-radio-wrapper .ant-radio:hover .ant-radio-inner,
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
.ant-radio-wrapper .ant-radio-input:focus+.ant-radio-inner {
  border-color: #0069ab;
}

.ant-btn-dashed:not(.ant-btn-dashed:hover, .ant-btn-dashed:focus) {
  color: #808080 !important;
}

.ant-btn-dashed:hover,
.ant-btn-dashed:focus {
  border-color: #555 !important;
  color: #555 !important;
}

.ant-picker:not(.ant-picker:focus):hover {
  border-color: #ccc;
}

.ant-picker-focused {
  border-color: #555 !important;
  box-shadow: none !important;
}

.ant-picker-today-btn {
  color: #555 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #555 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #337ab7 !important;
}

tr .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
  background: rgba(204, 204, 204, 0.386);
}

tr .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
tr .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
  background: rgba(204, 204, 204, 0.386);
}

.ant-picker-range .ant-picker-active-bar {
  background: #555 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
.ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
  border-top-color: #337ab7 !important;
  border-bottom-color: #337ab7 !important;
}

.ant-upload .ant-btn:hover,
.ant-upload .ant-btn:focus {
  color: #00549F;
  border-color: #00549F;
}

.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00549f;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #00549f !important;
}

.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-wrapper .ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-wrapper .ant-checkbox-checked::after {
  border-color: #00549f;
}

.ant-checkbox-wrapper .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #f5f5f5;
}

.ant-checkbox-wrapper-disabled .ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #d9d9d9 !important;
}

.ant-popover-buttons .ant-btn:not([disabled]):hover,
.ant-popover-buttons .ant-btn:not([disabled]):focus {
  color: #00549f;
  border-color: #00549f;
}

.ant-popover-buttons .ant-btn-primary {
  background-color: #00549f;
  border-color: #00549F;
}

.ant-popover-buttons .ant-btn-primary:hover {
  color: #fff !important;
  background: #337ab7;
  border-color: #337ab7;
}

.ant-popover-buttons .ant-btn-primary:focus {
  color: #fff !important;
  background-color: #00549f;
  border-color: #00549F;
}

.ant-form-item-label>label .ant-form-item-tooltip {
  background-color: rgb(0 84 159 / 90%);
  color: #fff !important;
  border-radius: 50%;
  font-size: 17px !important;
  margin-inline-start: 8px !important;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #00549F !important;
}

.ant-pagination-item-active a {
  color: #00549F !important;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #676767 !important;
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #676767 !important;
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #00549F !important;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #00549F !important;
  border-color: #00549F !important;
}

.ant-spin-nested-loading>div>.ant-spin {
  max-height: 100% !important;
}

.ant-input-group-addon .ant-btn:hover,
.ant-input-group-addon .ant-btn:active,
.ant-input-group-addon .ant-btn:focus {
  border-color: #337ab7;
}

.ant-btn-link {
  color: #337ab7 !important;
}